.about__Div {
    margin: 0;
    padding: 30px;
    font-size: 40px;
    background-color: lightblue;
    color: white;
    margin-left: 15%;
    
    
   
   
}

.about__Text {
    text-align: center;
    text-decoration: underline darkcyan;
    -webkit-text-stroke: 2px darkcyan;
    font-weight: bold;
    

}


.paragraph__Container {

    background-color: white;
    box-shadow: 10px 8px 5px grey;

}

.paragraph {
    color: black;
    padding: 20px;
    margin: auto;
    font-family: sans-serif;
    text-align: left;
    margin-left: 1%;
}