.aboutLabel {
    background-color: lightskyblue;
    color:white;
    margin-top: 0;
    padding: 1%;
}

.aboutContainer{
    background-color: lightblue;
    padding-bottom: 10%;
}


.about-card {
    display: block;
    margin: auto;
    font-size: 20px;
    
}
 