.contact__Div__Container {
  
    margin-bottom: 5%;
    margin-top: 20%;
    padding: 10px 1px 1px 1px;
    font-size: 40px;
    display: block;
    background-color: black;
    text-decoration: underline darkcyan;
    -webkit-text-stroke: 2px darkcyan;
    font-weight: bold;
    color: white;
   
  }