#contact__Div__Container {
  
    margin-bottom: 1%;
    font-size: 40px;
    
    background-color: lightskyblue;
    font-weight: bold;
    color: white;
   
  }

  a {
    color: white;
    padding: 10px;
  }

  a:visited {
    color: white !important;
  } 
  /* EXAMPLE FOR RESPONSIVE STYLING VIEW MARGIN & FIRST CONTAINER */
  #contact {
    background-color: lightskyblue;
    display: block;
    margin: auto;
    color: white;
    padding-bottom: 5%;
    
  }


  #footer__Text {
    
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    
  }
  /* add media queries with no margin since the menue turns into a nav bar */