
:root {
  --primary: #ccb3ff;
  --secondary: #e6ffb3;
}

/* styling the navbar */

.navbar__Container {
  background-color: var(--primary);
  color: white;
  
}

.navbar {
  overflow: hidden;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
}


.navbar li {
  float: left;
  display: block;
  color: var(--primary);
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 12px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: var(--secondary);
}



/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
  display: none;
}


/* media query for responsive navbar */

@media screen and (max-width: 600px) {
  .navbar li:not(:first-child) {display: none;}
  .navbar .icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar .responsive {
    position: relative;
  }
  .navbar .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar .responsive li {
    float: none;
    display: block;
    text-align: left;
  }

/* Header Section Styling */

.header__Card {

  display: flex;
  flex-direction: column;
  
}

#name__Image__Container {
  display: flex;
  flex-direction: column;

}

img {
  height: 20px;
}


}