
:root {
  --primary: white;
  --secondary: white;

  --highlight: #e6ffb3;
}



/* home */

.home__Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 25%;
  
  margin: auto;
  background-image: url("https://scontent-dfw5-2.cdninstagram.com/v/t51.2885-15/e35/p1080x1080/159956812_768266453809986_6078118974693888998_n.jpg?tp=1&_nc_ht=scontent-dfw5-2.cdninstagram.com&_nc_cat=106&_nc_ohc=ENaHbQHo7D0AX8MfunF&oh=475e77e234d872e000852fbcbd81cf0a&oe=6076EA74");
}

#motto {
  text-align: center;
  font-size: 70px;
  margin: -20%;
  font-family: sans-serif;
  -webkit-text-stroke: 2px darkcyan; /* width and color */

}

#make__Things {
  color: lightblue;
  font-weight: bolder;
}


#make__Difference {
  text-decoration: underline;
  color: lightblue;
  font-weight:bolder;
}





/* media query for responsive navbar */


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

