
 * {
    
    font-family: "Lato", sans-serif;
 }
  
#Caitlyn {
  color: white;
  display: block;
 

}

.container-fluid{
  background-color: lightskyblue;
  
}

.nav-link {
  color: white !important;
  font-size: 30px;
}

.tog {
  color: white !important;
}

#projects {
  color: white;
}


