
  {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
#Caitlyn {
  color: white;
  display: block;
  padding: 10%;

}

/* styling icons */
  #person__Icon {
    color:lightblue;
    font-size: 30px;
  }

  #home__Icon {
    color: white;
    font-size: 30px;

  }

  #web__Icon {
    color: lavender;
    font-size: 30px;
  }

  #mail__Icon {
    color: tan;
    font-size: 30px;
     
  }


  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 30px;
    font-size: larger;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
  }
   
  .sidebar a.active {
    background-color: darkcyan;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}