
/* text and title */

 .projects__Div {
    margin: 0;
    padding: 30px;
    font-size: 40px;
    background-color: lightblue;
    color: white;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    
    
   
   
}

.projects__Text {
    text-align: center;
    text-decoration: underline darkcyan;
    -webkit-text-stroke: 2px darkcyan;
    font-weight: bold;
    margin: auto;
    

}

/* project cards */


    body {
        background: lightblue;
        text-align: center;
      }
      
      .card {
        background: white;
        border-radius: 2px;
        display: inline-block;
        height: 300px;
        margin-left: 43%;
        margin-top: 10%;
        
        position: relative;
        padding-top: 20%;
        
        width: 600px;
        display: flex;
        flex-direction: row;
       
      }
      
      .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      }
      
      .card-1:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }

      .card:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }

      .card-2:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      
      .card-3:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      .card-2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }
      
      .card-3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
      
      








/* media querries */


 @media (max-width: 576px) {  
    .xs {color:red;font-weight:bold;}
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width:768px) {  
    .sm {color:red;font-weight:bold;}
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) and (max-width:992px) {  
   .md {color:red;font-weight:bold;}
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width:1200px) { 
   .lg {color:red;font-weight:bold;}
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
      .xl {color:red;font-weight:bold;}
  }
   